.input-login-form {
  padding-top:21px;
//  height: 180px;

  label {
    display: block;
    position: relative;
//    line-height: 30px;
    margin-top: 25px;
    @extend %fadeIn;
    @include animated($delay: 1.2s);

    i {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      top: 11px;
      left: 67px;
      z-index: 1;
      @include bp(415px,429px) {left: 18.5%;}
      @include bp(400px,414px) {left: 17.5%;}
      @include bp(385px,399px) {left: 16.5%;}
      @include bp(370px,384px) {left: 15.5%;}
      @include bp(355px,369px) {left: 14%;}
      @include bp(340px,354px) {left: 13%;}
      @include bp(325px,339px) {left: 11.2%;}
      @include bp(0,324px) {left: 10%;}
    } //i
    
    
    .icon-password-2 {
      top:12px;
    }
    
    .inp-iconColor-changed {
      color: $subColor;
      text-shadow: 0 1px 0 rgba(0,0,0,0.3);
      @extend %ts;
    }//.iconColor-changed  input輸入時的效果 跟 hover 時一樣
    
    .icon-eye-closed-1, .icon-eye-opened-1 {
      z-index: 1;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 38px;
//      background: rgba($lineColor, .3);
      border-radius: 0 2px 2px 0;
      font-size: 16px;
      left: auto;
      right: 57px;
      top: 0;
      cursor: pointer;
//      @include bp(415px,429px) {right: calc(10%+2px);}
//      @include bp(400px,414px) {right: 17.5%;}
//      @include bp(385px,399px) {right: 16.5%;}
//      @include bp(370px,384px) {right: 15.5%;}
//      @include bp(355px,369px) {right: 14%;}
//      @include bp(340px,354px) {right: 13%;}
//      @include bp(325px,339px) {right: 11.2%;}
//      @include bp(0,324px) {right: 10%;}
      &:hover {
//        background: rgba($lineColor, .6);
        color: $subColor;
        @extend %ts;
      }
    }
  } //label

  input {
    display: block;
//    width: calc(90% - 2px);
//    max-width: 235px;
    width: 235px;
    line-height: 27px;
    padding: 4px 5px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: rgba($subColor, .45);
    font-size: 18px;
    border-radius: 2px;
    text-shadow: 1px 1px 1px #4a4a4a;
    
    @include bp(0, 767px) {
      background: rgba($subColor, .2);
    }
    
    &:hover + i, &:active + i {
      color: $subColor;
      text-shadow: 0 1px 0 rgba(0,0,0,0.3);
      @extend %ts;
    }
    
    
    &:hover + .icon-login-1, &:active + .icon-login-1 {
      color: transparent;
      text-shadow: none;
//      @extend %ts;
    }//.icon-login-1
    
    
  } //input
  
  .input-login-active {
    text-align: left;
    width: 200px;
    padding-left: 40px;
  } //.input-login-active  點擊input時的效果
  
  #email-login {
//    @include animated($delay: 1.5s);
  } //#email-login
  
  #password-login {
//    @include animated($delay: 1.65s);
  } //#password-login
  
  #submit-login {
    min-width: 245px;
    //padding: 4px 0;
    text-shadow: none;
//    background: rgba(0, 140, 250, 0.7);
    background: rgba(0, 100, 0, 0.7);
//    background: linear-gradient(#0096ff,#005dff);
//    opacity: .7;
    text-shadow:  0 1px 0 rgba(0,0,0,0.3);
    //@include bp(0, 767px) {
//        background: rgba(236,62,8,.7);
//      opacity: .85;
    //}
//    @include bp(0, 767px) {
//      background: rgba(0, 140, 250, 0.7);
//    }
//    @include animated($delay: 1.75s);
//    background: rgba(236,62,8,0.4);
    
    &:hover, &:active {
//      background: linear-gradient(#0096ff,#005dff);
//      opacity: .85;
      background: rgba(0, 100, 0, .8);
      text-shadow: 0 1px 0 rgba(0,0,0,0.3);
//      color: $subColor;
      @extend %ts;
    } //hover, active
  } //#submit-login
  
  
  .forgot-pwd {
    @include animated($delay:1.5s);
    @extend %fadeInUp;
    display: block;
    width: 140px;
    margin: 5px auto 0;
    line-height: 35px;
    text-align: center;
    color: rgba(255,255,255, .7);
    text-shadow: 1px 1px 1px #4a4a4a;
    
    &:hover {
      text-decoration: underline;
    }
  }//.forgot-pwd
  
  
  .signup {
    width: 245px;
//    padding-left: 40px;
    margin: 25px auto 19px;
    margin: 10px auto 12px;
    height: 35px;
    line-height: 35px;
    text-align: right;
    color: rgba(255,255,255, .7);
//    position: relative;
    text-shadow: 1px 1px 1px #4a4a4a;
    @include animated($delay:1.5s);
    @extend %fadeInUp;

    a {
      display: inline-block;
      width: 75px;
//      height: 35px;
      line-height: 35px;
      font-size: 18px;
//      background: rgba(236,62,8,0.7);
      background: rgba($subColor,0.7);
      margin-left: 5px;
      border-radius: 2px;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0,0,0,0.3);
      text-align: center;
      @include bp(0, 767px) {
        color: #fff;
//        background: rgba(236,62,8,.7);
        background: rgba($subColor,.7);
      }
  
      &:hover {
//        color: #fff;
//        background: rgba(236,62,8,0.7);
        background: rgba($subColor,.85);
        @extend %ts;
      }
    }//span
  }//.signup
  
}//.input-login-form


//behance active linear-gradient(#008aea,#024dcf)