.search-panel {
  position: absolute;
  top: 48px;
  left: 22%;
  width: 685px;

  input {
    font-size: 20px;
    width: 95%;
    height: 40px;

  }//.search input

  i {

  } //.search i
} //.search
