//Load fonts
//@import url(https://fonts.googleapis.com/css?family=Lato:400,100,700,300,900);
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@charset "UTF-8";


//color
$mainColor: rgb(0, 100 ,0);
$subColor: #ffcc4d;
$lineColor: #ffac33;