.wrapper {
  width: 100%;
  height: 100vh;
//  min-height: 630px;
  min-height: 480px;
  position: relative;
  @include bkImg('../images/login.jpg');
  //background-image: url('../images/login.jpg');
//      background: url('../images/login.jpg') 0 / cover fixed;
//  @include bp(0, 22.5em) {  //360
//    height: 157vh;
//  }
//  
}//.wrapper


.filter:before{
  
}